<header class="container">
  <div class="profile">
    <img class="img-fluid mx-auto d-block" src="{{'/assets/images/avatar.png' | prepend: site.baseurl }}" alt="Mijail Rondon profile photo">
    <h1><a href="/">MIJAIL RONDON <small>Full-stack developer consultant</small></a></h1>
  </div>
  <ul class="nav justify-content-center profile-links">
    <li>
      <a href="https://github.com/mijailr">
        {% include svg/github.svg %}
      </a>
    </li>
    <li>
      <a href="https://twitter.com/mijailr">
        {% include svg/twitter.svg %}
      </a>
    </li>
    <li>
      <a href="https://keybase.io/mijail">
        {% include svg/keybase.svg %}
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/mijailr/">
        {% include svg/linkedin.svg %}
      </a>
    </li>
    <li>
      <a href="mailto:mijail@hey.com">
        {% include svg/mail.svg %}
      </a>
    </li>
  </ul>
</header>
