<header class="container">
  <div class="profile">
    {% include svg/avatar.svg %}
    <h1><a href="/">{{ site.title | upcase }} <small>{{ site.tagline }}</small></a></h1>
  </div>
  <ul class="nav justify-content-center profile-links">
    <li>
      <a href="https://github.com/{{ site.main_username }}">
        {% include svg/github.svg %}
      </a>
    </li>
    <li>
      <a href="https://twitter.com/{{ site.main_username }}">
        {% include svg/twitter.svg %}
      </a>
    </li>
    <li>
      <a href="https://keybase.io/{{ site.keybase_username }}">
        {% include svg/keybase.svg %}
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/{{ site.main_username }}/">
        {% include svg/linkedin.svg %}
      </a>
    </li>
  </ul>
</header>
