<header class="container">
  <div class="profile">
    <img class="img-fluid mx-auto d-block" src="{{'/assets/images/avatar.png' | prepend: site.baseurl }}" alt="Mijail Rondon profile photo">
    <h1><a href="/">MIJAIL RONDON <small>Full-stack developer consultant</small></a></h1>
  </div>
  <ul class="nav justify-content-center profile-links">
    <li>
      <a href="https://github.com/mijailr">
        <img width="30" height="30" src="{{'/assets/images/github.svg' | prepend: site.baseurl }}" alt="" />
      </a>
    </li>
    <li>
      <a href="https://twitter.com/mijailr">
        <img width="30" height="30" src="{{'/assets/images/twitter.svg' | prepend: site.baseurl }}" alt="" />
      </a>
    </li>
    <li>
      <a href="https://keybase.io/mijail">
        <img width="30" height="30" src="{{'/assets/images/keybase.svg' | prepend: site.baseurl }}" alt="" />
      </a>
    </li>
  </ul>
</header>
