---
---
@import "variables";
@import "highlight";
@import "languages";

@import "bootstrap/scss/bootstrap";
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);
@import url(https://fonts.googleapis.com/css2?family=PT+Sans&display=swap);

body{
  color: $dark;
}

@media (min-width: 1200px) {
  .container {
    width: 680px;
  }
}

header {
  margin-bottom: 1rem;
}

code {
  font-family: $fira-code;
}

.profile{
  font-family: $fira-code;
  margin: 1rem 0;
  h1{
    a {
      color: $dark;
      text-decoration: none;
      &:hover{
        text-decoration: none;
      }
    }
    text-align: center;
    small{
      font-style: italic;
      display: block;
      font-size: 1.3rem;
    }
  }
}

.profile-links {
  a {
    margin-left: 0.5rem;

  }
}

.posts {
  margin-bottom: 2rem;
}

.posts h2, .related h2{
  font-size: 1.6rem;
  font-family: $fira-code;
  text-transform: uppercase;
  margin-bottom: 2rem;
  border-bottom: 1px solid $dark;
}

.pagination {
  .pagination-item {
    padding: 1rem 2rem;
    border: 1px solid $link-color;
    border-radius: 3px;
  }

  a {
    &:hover {
      color: #fff;
      background-color: $link-color;
      text-decoration: none;
    }
  }
  span {
    color: $secondary;
    border: 1px solid $secondary !important;
  }
}

.post {
  .post-metadata{
    margin-bottom: 1rem;
  }

  h1{
    line-height: 1;
    color: $link-color;
    font-size: 2rem;
  }
  .post-date {
    font-style: italic;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  &:last-of-type{
    margin-bottom: 2rem;
  }

}

a.read-more {
  text-align: center;
  display: block;
  padding: 1rem 0;
  border: 1px solid $secondary;
  border-radius: 3px;
  &:hover {
    text-decoration: none;
  }
}


.image-wrapper {
  color: rgb(88, 96, 105);
  padding: 0.3rem;
  border: 1px solid rgb(221, 221, 221);
  background-color: rgb(247, 247, 247);
  border-radius: 3px;
  margin-bottom: 1rem;
  .image-caption {
    text-align: center;
    font-style: italic;
    font-size: 0.9rem;
    margin: 0.2rem;
  }
}

.related {
  margin-top: 3rem;
  h3 {
    font-size: 1.3rem;
  }
}

footer {
  margin-top: 3rem;
}
